:root {
    --background-color: #0F1A20;
    --text-color: white;
    --angle: 0deg;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Animation */
@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

/* Start Socail */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.socail {
    background-color: #0F1A20;
    width: 100%;
    max-width: 600px;
    padding: 65px 45px;
    margin: 10px auto;
    border-radius: 10px;
    position: relative;
}

.socail::after,
.socail::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 10px;
    border-radius: 10px;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    animation: 3s spin linear infinite;
}

.socail::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

.socail .text {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 40px;
}

.socail .text p {
    margin-top: -10px;
}

.socail ul li {
    background-color: #002B36;
    border-radius: 20px;
    padding: 10px 25px;
    margin: 10px;
}

.socail ul li:hover i,
.socail ul li:hover a {
    color: #E0E0E0;
}

.socail i {
    font-size: 22px;
    color: #A2C2C8;
    text-align: center;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.socail a {
    color: #A2C2C8;
    transition: color 0.3s ease;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .socail {
        padding: 50px 30px;
    }
}

@media (max-width: 992px) {
    .socail {
        padding: 40px 20px;
    }
}

@media (max-width: 768px) {
    .socail {
        padding: 30px 15px;
    }

    .socail ul li {
        padding: 8px 15px;
    }

    .socail i {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .socail {
        width: 155%;
        padding: 20px 10px;
        margin: -47px;
    }

    .socail ul li {
        padding: 6px 10px;
    }

    .socail i {
        font-size: 16px;
    }

    .socail .text {
        margin-bottom: 20px;
    }
}